In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_origin = 'states.json'

with open(data_origin) as json_file:
    data = json.load(json_file)
    states = data['states']
    alphabet = data['alphabet']

In [3]:
s = pd.Series(states).str.lower()
pd.Series(states)

0                    Acre
1                 Alagoas
2                   Amapa
3                Amazonas
4                   Bahia
5                   Ceara
6        Distrito Federal
7          Espirito Santo
8                   Goias
9                Maranhao
10            Mato Grosso
11     Mato Grosso do Sul
12           Minas Gerais
13                   Para
14                Paraiba
15                 Parana
16             Pernambuco
17                  Piaui
18         Rio de Janeiro
19    Rio Grande do Norte
20      Rio Grande do Sul
21               Rondonia
22                Roraima
23         Santa Catarina
24              Sao Paulo
25                Sergipe
26              Tocantins
dtype: object

In [4]:
s.index

RangeIndex(start=0, stop=27, step=1)

In [5]:
s.head()

0        acre
1     alagoas
2       amapa
3    amazonas
4       bahia
dtype: object

In [6]:
s.to_frame()

                      0
0                  acre
1               alagoas
2                 amapa
3              amazonas
4                 bahia
5                 ceara
6      distrito federal
7        espirito santo
8                 goias
9              maranhao
10          mato grosso
11   mato grosso do sul
12         minas gerais
13                 para
14              paraiba
15               parana
16           pernambuco
17                piaui
18       rio de janeiro
19  rio grande do norte
20    rio grande do sul
21             rondonia
22              roraima
23       santa catarina
24            sao paulo
25              sergipe
26            tocantins

In [7]:
df = s.to_frame()

In [8]:
df.head()

          0
0      acre
1   alagoas
2     amapa
3  amazonas
4     bahia

In [9]:
df.index

RangeIndex(start=0, stop=27, step=1)

In [10]:
df.columns = ['estados']
df.head()

    estados
0      acre
1   alagoas
2     amapa
3  amazonas
4     bahia

In [11]:
df2 = df.copy()

In [12]:
df2.index

RangeIndex(start=0, stop=27, step=1)

Ignora acentuação
.to_frame() para retornar um datafrase, sem essa função é retornada uma serie de valores.

In [13]:
df2['estados'][2]

'amapa'

In [14]:
for l in alphabet:
    df2[l] = s.str.count(l)

In [15]:
pd.set_option('display.max_columns', len(alphabet)+1)

In [16]:
df2

,estados,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,u,v,w,x,y,z
0,acre,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,alagoas,3,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
2,amapa,3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
3,amazonas,3,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,0,0,1
4,bahia,2,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,ceara,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
6,distrito federal,1,0,0,2,2,1,0,0,2,0,0,1,0,0,1,0,0,2,1,0,0,0,0,0,0
7,espirito santo,1,0,0,0,1,0,0,0,2,0,0,0,0,1,2,1,0,1,2,0,0,0,0,0,0
8,goias,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
9,maranhao,3,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0
10,mato grosso,1,0,0,0,0,0,1,0,0,0,0,0,1,0,3,0,0,1,2,0,0,0,0,0,0
11,mato grosso do sul,1,0,0,1,0,0,1,0,0,0,0,1,1,0,4,0,0,1,3,1,0,0,0,0,0
12,minas gerais,2,0,0,0,1,0,1,0,2,0,0,0,1,1,0,0,0,1,2,0,0,0,0,0,0
13,para,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
14,paraiba,3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
15,parana,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0
16,pernambuco,1,1,1,0,1,0,0,0,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,0,0
17,piaui,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
18,rio de janeiro,1,0,0,1,2,0,0,0,2,1,0,0,0,1,2,0,0,2,0,0,0,0,0,0,0
19,rio grande do norte,1,0,0,2,2,0,1,0,1,0,0,0,0,2,3,0,0,3,0,0,0,0,0,0,0
20,rio grande do sul,1,0,0,2,1,0,1,0,1,0,0,1,0,1,2,0,0,2,1,1,0,0,0,0,0
21,rondonia,1,0,0,1,0,0,0,0,1,0,0,0,0,2,2,0,0,1,0,0,0,0,0,0,0
22,roraima,2,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,2,0,0,0,0,0,0,0
23,santa catarina,5,0,1,0,0,0,0,0,1,0,0,0,0,2,0,0,0,1,1,0,0,0,0,0,0
24,sao paulo,2,0,0,0,0,0,0,0,0,0,0,1,0,0,2,1,0,0,1,1,0,0,0,0,0
25,sergipe,0,0,0,0,2,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0
26,tocantins,1,0,1,0,0,0,0,0,1,0,0,0,0,2,1,0,0,0,1,0,0,0,0,0,0

In [17]:
df2['letter_count'] = df2.sum(axis=1)

In [18]:
df2.head()

,estados,a,b,c,d,e,f,g,h,i,j,k,l,...,n,o,p,q,r,s,u,v,w,x,y,z,letter_count
0,acre,1,0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0,0,0,4
1,alagoas,3,0,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0,0,0,7
2,amapa,3,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,5
3,amazonas,3,0,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0,0,1,8
4,bahia,2,1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,5

In [19]:
df2 = df2.append(pd.Series(df2.sum()), ignore_index=True)
df2.at[27, 'estados'] = ''

In [20]:
df2.to_csv(r'exported.csv')
df2

,estados,a,b,c,d,e,f,g,h,i,j,k,l,...,n,o,p,q,r,s,u,v,w,x,y,z,letter_count
0,acre,1,0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0,0,0,4
1,alagoas,3,0,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0,0,0,7
2,amapa,3,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,5
3,amazonas,3,0,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0,0,1,8
4,bahia,2,1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,5
5,ceara,2,0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0,0,0,5
6,distrito federal,1,0,0,2,2,1,0,0,2,0,0,1,...,0,1,0,0,2,1,0,0,0,0,0,0,13
7,espirito santo,1,0,0,0,1,0,0,0,2,0,0,0,...,1,2,1,0,1,2,0,0,0,0,0,0,11
8,goias,1,0,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0,0,0,5
9,maranhao,3,0,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0,0,0,8
10,mato grosso,1,0,0,0,0,0,1,0,0,0,0,0,...,0,3,0,0,1,2,0,0,0,0,0,0,9
11,mato grosso do sul,1,0,0,1,0,0,1,0,0,0,0,1,...,0,4,0,0,1,3,1,0,0,0,0,0,14
12,minas gerais,2,0,0,0,1,0,1,0,2,0,0,0,...,1,0,0,0,1,2,0,0,0,0,0,0,11
13,para,2,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0,0,0,4
14,paraiba,3,1,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0,0,0,7
15,parana,3,0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0,0,0,6
16,pernambuco,1,1,1,0,1,0,0,0,0,0,0,0,...,1,1,1,0,1,0,1,0,0,0,0,0,10
17,piaui,1,0,0,0,0,0,0,0,2,0,0,0,...,0,0,1,0,0,0,1,0,0,0,0,0,5
18,rio de janeiro,1,0,0,1,2,0,0,0,2,1,0,0,...,1,2,0,0,2,0,0,0,0,0,0,0,12
19,rio grande do norte,1,0,0,2,2,0,1,0,1,0,0,0,...,2,3,0,0,3,0,0,0,0,0,0,0,15
20,rio grande do sul,1,0,0,2,1,0,1,0,1,0,0,1,...,1,2,0,0,2,1,1,0,0,0,0,0,14
21,rondonia,1,0,0,1,0,0,0,0,1,0,0,0,...,2,2,0,0,1,0,0,0,0,0,0,0,8
22,roraima,2,0,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,2,0,0,0,0,0,0,0,7
23,santa catarina,5,0,1,0,0,0,0,0,1,0,0,0,...,2,0,0,0,1,1,0,0,0,0,0,0,11
24,sao paulo,2,0,0,0,0,0,0,0,0,0,0,1,...,0,2,1,0,0,1,1,0,0,0,0,0,8
25,sergipe,0,0,0,0,2,0,1,0,1,0,0,0,...,0,0,1,0,1,1,0,0,0,0,0,0,7
26,tocantins,1,0,1,0,0,0,0,0,1,0,0,0,...,2,1,0,0,0,1,0,0,0,0,0,0,7
27,,48,3,5,9,14,1,8,2,20,1,0,5,...,16,28,9,0,25,18,5,0,0,0,0,1,226

In [21]:
df3 = df2.iloc[[27]].copy()

In [22]:
df3 = df3.drop(columns=['estados', 'letter_count']).reset_index(drop=True)

In [23]:
df3 = pd.melt(df3, var_name='letters', value_name='value')

In [24]:
df3.sort_values(by=['value',], ascending=False).head()

   letters  value
0        a     48
14       o     28
17       r     25
8        i     20
18       s     18

In [25]:
df3.loc[df3['value'] == 0]

   letters  value
10       k      0
16       q      0
20       v      0
21       w      0
22       x      0
23       y      0

In [26]:
df3.loc[df3['value'] == 1]

   letters  value
5        f      1
9        j      1
24       z      1